/* Page Style Settings */
* {
    margin: 0;
    padding: 0;

    p {
        font-size: 26px;
    }

    li {
        font-size: 20px;
    }

    body {
        min-height: 100vh;
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }
}

/* Navigation Bar */
nav {
    background-color: #2db9cbe6;
    box-shadow: 3px 3px 5px black(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #2db9cb;
}

nav li:first-child {
    margin-right: auto;
}

.navald {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    height: auto;
    font-family: "flood-std", sans-serif;
}

.navald img {
    height: 30px;
    padding-right: 15px;
}

/* Navigation Bar Mobile */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2db9cbe6;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 1145px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .navald {
        display: none;
    }

    .navald {
        display: block;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 100%;
    }

    .navald {
        display: block;
        font-size: 18px;
    }

}

/* Header */

.header {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/pexels-kindelmedia-9044062.jpg);
}

@media (max-width: 500px) {
    .header {
        height: 70vh;
    }
}

/* Triangle  */
.lookdown {
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Blog */
.blog {
    margin-top: -50px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.blog h1 {
    font-size: 4vw;
}

.blog p {
    font-size: 2vw;
}